body {
  background-color: #000;
  color: #FFF;
  font-family: 'Droid Sans Mono';
}

h1 {
  font-size: 2rem;
}

.repeal {
  max-width: 740px;
  margin: 0 auto;
  padding: 0 20px;
}

.repeal__counter {
  text-align: center;
  font-size: 3.2rem;
}
